// Navigation Styles here

.nav-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    header {
        .flex(row, wrap);
        align-items: center;
        justify-content: space-between;
        margin: 13px auto 26px;

        nav {
            a {
                text-decoration: none;
                font-size: 1.6em;
                padding: 0 29px 0 0px;
                color: black;
            }
        }
    }
}